* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Lato;
  background-color: #d6ccc2;
}

#current_author,
#mentioned_authors_header {
  font-size: x-large;
  font-weight: bold;
}

header {
  background-color:#1d3557;
  color:#f3f3f3;
  font-size: large;
}

footer {
  background-color:#1d3557;
  color:#f3f3f3;
  left: 0;
  bottom: 0;
  width: 100%;
}



#title {
  font-family: Outfit, sans-serif;
  font-size: 40px;
  text-align: center;
  background-color:#1d3557;
  color: #fefefe;
}


#current_author_books {
  background-color: #d6ccc2;
  padding-bottom: 110px;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  color: #a1a1aa;
  opacity: 0.8;
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

#mentioned_authors,
#current_author,
#current_author_books,
header,
#mentioned_authors_header,
footer {
  text-align: center;
  align-items: center;
}

img {
  height: 200px;
  width: auto;
  padding: 10px;
  filter: drop-shadow(5px 5px 3px black);
  -webkit-transform: translateZ(0);
}


img:hover {
  transform: scale(1.05);
  cursor: pointer;

}

#mentioned_authors_header {
  margin: 100px 10px 10px 10px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion {
  background-color: #115E59;
  color: #f3f3f3;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: large;
  transition: 0.4s;
  text-align: center;
  margin: 10px 5px 0 5px;
  border-radius: 5px;
}

.active,
.accordion:hover {
  background-color: #235789;
}

.accordion:after {
  content: "\002B";
  color: #f3f3f3;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #f4f1de;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0px 0px 5px 5px;
  z-index: 100;
  color: #3F3F46;
}

#search,
#search_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 17px;
}

#search_box_div {
  margin-top: 10px;
  margin-bottom: 100px;
  padding: 10px 0 10px 0;
}

#search {
  border-radius: 30px;
  width: 50%;
  text-align: center;
  color: #14213d;
  border: 1px solid #14213d;
  border-color: #3F3F46;
}

#search_button {
  border-radius: 5px;
  width: 20%;
  color: white;
  background-color: #0077b6;
  margin-top: 5px;
  border: 1px solid #0077b6;
}

#search:hover,
#search_button:hover {
  border: 1px solid black;
}

.icons_centered {
  width:100%;
  font-size:40px;
  height: 35px;
}


a:link,a:active,a:visited,#fa-solid  {
  color: #fefefe;
}

a:hover {
  color: #81B29A;
  background-color:transparent;

}

#fa-solid {
  font-size:40px;
  height: 35px;
}

.highlighted_text{
  color:#81B29A;
}