* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: Lato;
  background-color: #cbd5e1;
  color: #27272a;
}

#current_author, #associated_authors_header {
  font-size: x-large;
  font-weight: bold;
}
#header {
  color: #f5f5f5;
  font-size: large;
}

#title {
  font-family: Outfit, sans-serif;
  font-size: xx-large;
  text-align: center;
  color: #84cc16;
}

#title,
#header,
#current_author_books {
  background-color: #27272a;
}

#spinner:not([hidden]) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #a1a1aa;
  opacity: 1; /* Firefox */
}

#spinner::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 2px solid #f3f3f3;
  border-top: 2px solid #f25a41;
  border-radius: 100%;
  will-change: transform;
  animation: spin 1s infinite linear;
}

#associated_authors,
#current_author,
#current_author_books,
#header,
#associated_authors_header {
  text-align: center;
  align-items: center;
}

img {
  height: 200px;
  width: auto;
  padding: 10px;
  filter: drop-shadow(5px 5px 3px black);
  -webkit-transform: translateZ(0);
}

/* .shadow {
  position: relative;
  -webkit-transform: translateZ(0);
} */

img:hover{
  transform: scale(1.05);
  cursor: pointer;
}

#associated_authors_header {
  /*min-height: 50%;*/
  margin: 80px 10px 10px 10px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.accordion {
  background-color: #3cb35a;
  color: #f3f3f3;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: large;
  transition: 0.4s;
  text-align: center;
  margin: 10px 0px 0px 0px;
  border-radius: 5px;

}

.active,
.accordion:hover {
  background-color: #495057;

}

.accordion:after {
  content: "\002B";
  color: #f3f3f3;
  font-weight: bold;
  float: right;
  margin-left: 5px;

}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: #f3f3f3;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border-radius: 0px 0px 5px 5px;
  z-index: 100;
}

/* Style the search field */
#search,
#search_button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 17px;
}

#search_box_div {
  margin-top: 10px;
  margin-bottom: 50px;
}

#search {
  border-radius: 30px;
  width: 50%;
  text-align: center;
  color: #27272a;
  border: 1px solid #27272a;
  border-color: white;
}

#search_button {
  border-radius: 5px;
  width: 20%;
  color: #f5f5f5;
  background-color: #3b82f6;
  margin-top: 5px;
  border: 1px solid #3b82f6;
}

#search:hover,
#search_button:hover {
  border: 1px solid black;
}
